 .page_404 {
     padding: 40px 0;
     background: #fff;
     font-family: 'Arvo', serif;
 }
 
 .page_404 img {
     width: 100%;
 }
 
 .four_zero_four_bg {
     background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
     height: 400px;
     background-position: center;
 }
 
 .four_zero_four_bg h1 {
     font-size: 80px;
 }
 
 .four_zero_four_bg h3 {
     font-size: 80px;
 }
 
 .link_404 {
     color: #fff!important;
     padding: 10px 20px;
     background: #39ac31;
     margin: 20px 0;
     display: inline-block;
 }
 
 .contant_box_404 {
     margin-top: -50px;
 }
 
 @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
 .social-container {
     width: 400px;
     /* margin: 40vh auto; */
     position: relative;
     left: 32%;
     text-align: center;
 }
 
 @media screen and (max-width:500px) {
     .social-container {
         left: 10%;
     }
 }
 
 .social-icons {
     padding: 0;
     list-style: none;
     margin: 1em;
 }
 
 .social-icons li {
     display: inline-block;
     margin: 0.15em;
     position: relative;
     font-size: 1.2em;
 }
 
 .social-icons i {
     color: #fff;
     position: absolute;
     top: 21px;
     left: 21px;
     transition: all 265ms ease-out;
 }
 
 .social-icons a {
     display: inline-block;
 }
 
 .social-icons a:before {
     transform: scale(1);
     -ms-transform: scale(1);
     -webkit-transform: scale(1);
     content: " ";
     width: 60px;
     height: 60px;
     border-radius: 100%;
     display: block;
     background: linear-gradient(45deg, #ff003c, #c648c8);
     transition: all 265ms ease-out;
 }
 
 .social-icons a:hover:before {
     transform: scale(0);
     transition: all 265ms ease-in;
 }
 
 .social-icons a:hover i {
     transform: scale(2.2);
     -ms-transform: scale(2.2);
     -webkit-transform: scale(2.2);
     color: #ff003c;
     background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     transition: all 265ms ease-in;
 }
 
 .social-icons a.social-square:before {
     background: linear-gradient(45deg, #7b00e0, #ae31d9);
     border-radius: 10%;
 }
 
 .social-icons a.social-square:hover:before {
     transform: rotate(-180deg);
     -ms-transform: rotate(-180deg);
     -webkit-transform: scale(-180deg);
     border-radius: 100%;
 }
 
 .social-icons a.social-square:hover i {
     transform: scale(1.6);
     -ms-transform: scale(1.6);
     -webkit-transform: scale(1.6);
     color: #fff;
     transform: scale(1.6);
     -webkit-text-fill-color: #fff;
 }