/* body {
    background-color: #333;
} */

html,
body {
    margin: 0px;
    overflow: hidden;
    background: #000;
    color: #fff;
}

.output {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

h1 {
    font-size: 30px;
}


/* Cursor Styling */

.cursor::after {
    content: '';
    display: inline-block;
    margin-left: 3px;
    background-color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

h1.cursor::after {
    height: 24px;
    width: 13px;
}

p.cursor::after {
    height: 13px;
    width: 6px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/* audio */

.joeType {
    position: absolute;
    left: 78%;
    top: 10px;
}


/* new code */

button {
    border: none;
    cursor: pointer;
    outline: none;
}

button#playpausebtn {
    background: url(https://image.flaticon.com/icons/svg/747/747967.svg) no-repeat;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

button#mutebtn {
    background: url(https://image.flaticon.com/icons/svg/660/660545.svg) no-repeat;
    width: 15px;
    height: 15px;
}

a:link {
    color: #000;
}

a:hover {
    background: #fff;
}

a:visited {
    color: #000;
}

a:active {
    background: #EEFFA8;
}

#footer {
    color: #000
}

#footer a:link {
    color: #000;
}

#footer a:hover {
    background: #fff;
}

#footer a:visited {
    color: #000;
}

#footer a:active {
    background: #EEFFA8;
}