body {
    padding: 5em 10em;
}

.bunny {
    position: relative;
    left: 38%;
    display: block;
    width: 415px;
    height: 420px;
    background: url(http://www.faircode.com.au/bunnyanim/img/bunny_body.png) 26px bottom no-repeat;
    background-size: 94% 65%;
    cursor: pointer;
    transition: background-size .3s ease, transform .3s ease;
    transform-origin: bottom right;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.bunny .head {
    position: absolute;
    display: block;
    left: 2px;
    top: 127px;
    width: 208px;
    height: 252px;
    transform-origin: 160px 115px;
    transition: transform .4s ease;
}

.bunny .face {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 208px;
    height: 252px;
    background: url(http://www.faircode.com.au/bunnyanim/img/bunny_head.png) 0 bottom no-repeat;
}

.bunny .head .left_ear {
    position: absolute;
    left: 66px;
    top: -126px;
    width: 60px;
    height: 182px;
    background: url(http://www.faircode.com.au/bunnyanim/img/bunny_left_ear.png) 0 0 no-repeat;
    transform-origin: 35px 153px;
    transition: transform .6s ease;
}

.bunny .head .right_ear {
    position: absolute;
    left: 120px;
    top: -106px;
    width: 146px;
    height: 186px;
    background: url(http://www.faircode.com.au/bunnyanim/img/bunny_right_ear.png) 0 0 no-repeat;
    transform-origin: 32px 154px;
    transition: transform .2s ease;
}

.bunny .head .eye {
    position: absolute;
    display: none;
    left: 32px;
    top: 38px;
    width: 132px;
    height: 117px;
    background: url(http://www.faircode.com.au/bunnyanim/img/bunny_eye_blink.png) 0 0 no-repeat;
    transition: transform .2s ease;
}

.bunny:hover {
    background-size: 94% 64.5%;
    /* transform: rotate(1deg); */
}

.bunny:hover .head {
    transform: rotate(-15deg);
}

.bunny:hover .head .left_ear {
    transform: rotate(-15deg);
}

.bunny:hover .head .right_ear {
    transform: rotate(-20deg);
}

.bunny:hover .head .eye {
    display: block;
}

ul li .fa {
    font-family: 'Odibee Sans', cursive;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    /* background-image: url(../media/img/test.png); */
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    list-style: none;
    margin: 0 40px;
}

ul li .fa {
    font-size: 40px;
    color: #737373;
    line-height: 80px;
    transition: .5s;
}

ul li a {
    position: relative;
    top: 8rem;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0, 0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}

ul li a::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}

ul li a::after {
    content: "";
    position: absolute;
    top: 80px;
    left: -11px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

ul li a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}

ul li:hover .fa {
    color: #fff;
}

ul li a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}

ul li:hover:nth-child(1) a {
    background: #55acee;
}

ul li:hover:nth-child(1) a:before {
    background: #4184b7;
}

ul li:hover:nth-child(1) a:after {
    background: #4d9fde;
}

ul li:hover:nth-child(2) a {
    background: #55acee;
}

ul li:hover:nth-child(2) a:before {
    background: #4184b7;
}

ul li:hover:nth-child(2) a:after {
    background: #4d9fde;
}

ul li:hover:nth-child(3) a {
    background: #55acee;
}

ul li:hover:nth-child(3) a:before {
    background: #4184b7;
}

ul li:hover:nth-child(3) a:after {
    background: #4d9fde;
}

ul li:hover:nth-child(4) a {
    background: #55acee;
}

ul li:hover:nth-child(4) a:before {
    background: #4184b7;
}

ul li:hover:nth-child(4) a:after {
    background: #4d9fde;
}

ul li:hover:nth-child(5) a {
    background: #55acee;
}

ul li:hover:nth-child(5) a:before {
    background: #4d9fde;
}

ul li:hover:nth-child(5) a:after {
    background: #4d9fde;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}